{% extends 'base.html' %}

{% block content %}


<div class="container">
    <div class="row">
        <div class="col-md-12 tbl">
            <h3>Factory 5 - LNO. 1</h3>
            <div class="row">
                <div class="col-md-5">
                    <div class="image-view">
                        <img src="https://picsum.photos/300/350" alt="image" srcset="">
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="mb-3">
                        <label for="looInput" class="form-label">Location</label><br>
                        <span><strong>Factory 5</strong></span>
                    </div>
                    <div class="mb-3">
                        <label for="looInput" class="form-label">Loom No</label> <br>
                        <span><strong>01</strong></span>
                    </div>
                    <div class="mb-3">
                        <label for="looInput" class="form-label">Quality Name</label><br>
                        <span><strong>BGOLD</strong></span>
                    </div>
                    <div class="mb-3">
                        <label for="looInput" class="form-label">Size</label><br>
                        <span><strong>3060</strong></span>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}